.header{
    padding: 5px;
    background-color: #333;
	 color: #ccc;

    text-align: center;
   
    color: white;
}

body{
    margin:0;
    background-color: #deded8;
}

.container{
    display: flex;   
}

.container > li {
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: #ffeead;
    box-sizing: border-box;
    background-color: #96ceb4;
    list-style-type: none;
  }