.header{
    padding: 5px;
    background-color: #333;
	 color: #ccc;

    text-align: center;
   
    color: white;
}

body{
    margin:0;
    background-color: #deded8;
}

.navbar {
    display: flex;
    background-color: black
  }

  .navbar a {
    color: black;
    
    background-color: #ccc;
    padding: 10px 12px;
    text-decoration: none;
    text-align: center;
    flex-grow:1;
    border: 5px solid black;
  }

  .navbar a:hover {
    color:red;
    border: 5px solid red;
  }

  .row {  
    display: flex;
    flex-direction: row;
  }
  
  
  .aside {
    flex: 1 1 70%;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* Main column */
  .main {
    flex: 1 1 30%;
    background-color: white;
    padding: 20px;
  }